*{
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

.container{
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

header{
  min-height: 100px;
  border-bottom: 3px solid #1e29c5;
  background: #ffffff;
}

header a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #141414;
}

header ul{
  margin: 0;
  padding: 0;
}

.hamburg{
  display: none;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 20px;
}

header li{
  display: inline;
  padding: 0 20px 0 0;
}

header .brand{
  float: left;
}

header nav{
  float: right;
  margin-top: 40px; 
}

header .brand img{
  width: 150px;
  height: 90px;
}

header img{
  width: 30px;
  height: 20px;
}

header .highlight, header .current a{
  color: #4d3dda;
  font-weight: bold;
}

header a:hover{
  color: #357ae0;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #357ae0;
}

/* MAIN SECTION */

#main-section {
  background: #e0e0e0;
  height: 100%;
  margin: 0;
}

#main-section h2 {
  width: 40%;
  margin: 30px auto;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #357ae0;
}

#main-section table {
  margin: auto;
}

#main-section table tr:hover{
  background: #357ae0;
}

#main-section table th{
  width: 150px;
  margin-right: 5px;
  padding: 3px 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
}
#main-section table th .order-desp{
  width: 100%;
}

#main-section table td {
 text-align: center;
 padding-bottom: 10px;
}

.order-status{
  padding: 3px;
}
.orange {
  color: orange;
}
.green {
  color: green;
}
.red {
  color: red;
}

/* FOOD */

.food {
  width: 22%;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: #cfcfcfec;
  margin: 3px;
  display: inline-block;
}

.food:hover{
  border: 2px solid #357ae0;
}

.food img {
  width: 100%;
  height: 250px;
}

.food .order-price {
  font-weight: bold;
  letter-spacing: 2px;
}
.modify{
  padding: 4px 12px;
  color: green;
  background: #ffffff;
  border: 1px solid green;
  float: left;
}
.delete{
  padding: 4px 12px;
  color: red;
  background: #ffffff;
  border: 1px solid red;
  float: right;
}
.modify:hover{
  font-weight: bold;
  padding: 5px 15px;
}
.delete:hover{
  font-weight: bold;
  padding: 5px 15px;
}

/* FOOD ITEM */

.myform {
  width: 90%;
}
.myform label {
  font-size: 20px;
  font-weight: bold;
  width: 30%;
  float: left;
  text-align: right;
}
.myform .forminput{
  padding: 5px 15px;
  width: 65%;
  margin-left: 10px;
  margin-bottom: 30px;
}
.addfooditem {
  width: 30%;
  color: green;
  background: #ffffff;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
  margin: 0 35% 10px 40%;
}
/* FOOTER  */
footer{
  min-height: 50px;
  background: #357ae0;
}

footer p {
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 200px) and (max-width:400px)  {
  .container{
    width: 100%;
  }
  header nav{
    float: none;
    display: flex;
    flex-flow: column wrap;
    margin-top: 120px;
    padding: 10px;
    line-height: 30px;
  }
  header li, .hamburg{
    display: block;
  }
  
  .toggler{
    display: none;
  }
  .hamburg:hover + .toggler{
    display: block;
  }

  .o_date, .o_tprice, .c_item{
    display: none;
  }
  .food{
    width: 90%;
    margin: 5px;
  }
  #main-section h2{
    width: 90%;
  }
  .myform label{
    width: 100%;
    display: block;
    text-align: center;
  }
  .myform .forminput{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  .myform .addfooditem{
    margin-bottom: 20px;
  }
}
@media (min-width: 400px) and (max-width:700px)  {
  .container{
    width: 100%;
  }
  header nav{
    float: none;
    display: flex;
    flex-flow: column wrap;
    margin-top: 120px;
    padding: 10px;
    line-height: 30px;
  }
  header li, .hamburg{
    display: block;
  }
  
  .toggler{
    display: none;
  }
  .hamburg:hover + .toggler{
    display: block;
  }
  .o_date, .o_tprice, .c_item{
    display: none;
  }
  .food{
    width: 42%;
    margin: 5px;
  }
  #main-section h2{
    width: 50%;
  }
  .myform .addfooditem{
    margin-bottom: 20px;
  }
}
@media (min-width: 700px) and (max-width:1000px)  {
  .container{
    width: 100%;
  }
  .food{
    width: 29%;
    margin: 5px;
  }
}