body{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font: 15px/1.5 Arial Helvetica, sans-serif;
  box-sizing: border-box;
}

/* GLOBAL */
.container{
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

li{
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}

/* HEADER */
header{
  min-height: 100px;
  color: #ffffff;
  border-bottom: 3px solid #1e29c5;
}

header a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #141414;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  display: inline;
  padding: 0 20px 0 0;
}

header .brand{
  float: left;
}

header nav{
  float: right;
  margin-top: 40px; 
}

header .brand img{
  width: 150px;
  height: 100px;
}

header .highlight, header .current a{
  color: #4d3dda;
  font-weight: bold;
}

header a:hover{
  color: #357ae0;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #357ae0;
}

/* INTRO */

.intro{
  background: url('../images/food2.jpg') no-repeat;
  background-size: 100%;
  min-height: 500px;
}

.intro h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Mountains of Christmas';
  color: #ffffff;
  letter-spacing: 5px;
  padding-top: 80px;
}

.intro .fancy-font {
  font-family: 'Princess Sofia';
  display: block;
}

/* Featured */
#featured {
  min-height: 400px;

}

#featured h1, #showcase h2 {
  text-align: center;
  font-family: 'Mountains of Christmas';
  font-size: 50px;
  color: #ffffff;

}
/* FOOD */

.food {
  width: 22%;
  padding: 5px;
  border: 2px solid #357ae0;
  background: #cfcfcfec;
  margin: 3px;
  display: inline-block;
}

.food img {
  width: 100%;
  height: 250px;
}

.food .order-price {
  font-weight: bold;
  letter-spacing: 2px;
}

.order{
  margin: 0 35%;
}

.order button {
  padding: 5px 15px;

}

.order-desc {
  color: grey;
}
/* SHOWCASE */

#showcase #search {
  display: inline-block;
    
}

#showcase .search-form {
  margin: 10px auto;
  width: 80%;
  padding: 0 30%;
}

#showcase #search-box{
width: 40%;
padding: 10px;
background: lightgray;
border: 1px solid #357ae0;
}

#showcase #search{
  padding: 10px;
  width: 15%;
  background: #357ae0;
  color: white;
  border: 1px solid #357ae0;
}

/* SECTION */

section {
  min-height: 300px;
  background: linear-gradient(rgba(70, 67, 245, 0.4), rgba(70, 67, 245, 0.4)), url('../images/food3.png') no-repeat center fixed;
  background-size: 100%;
}

section form{
width: 40%;
margin: auto;
padding: 10% 0;
color: #fff;
font-size: 20px;
}
section .label {
width: 100%;
display: block;
font-weight: bold;
}

section .form-data{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;

}

section .form-submit{
  width: 100%;
  padding: 15px 20px;
}

/* FOOTER */

footer{
  min-height: 50px;
  background: #357ae0;
}

footer p {
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}