body{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font: 15px/1.5 Arial Helvetica, sans-serif;
  box-sizing: border-box;
}

/* GLOBAL */
.container{
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

li{
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}

/* HEADER */
header{
  min-height: 100px;
  border-bottom: 3px solid #1e29c5;
  background: #ffffff;
}
.hamburg{
  display: none;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 20px;
}

header a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #141414;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  display: inline;
  padding: 0 20px 0 0;
}

header .brand{
  float: left;
}

header nav{
  float: right;
  margin-top: 40px; 
}

header .brand img{
  width: 150px;
  height: 100px;
}

header img{
  width: 30px;
  height: 20px;
}

header .highlight, header .current a{
  color: #4d3dda;
  font-weight: bold;
}

header a:hover{
  color: #357ae0;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #357ae0;
}

/* INTRO */

.intro{
  background: url('../images/food2.jpg') no-repeat;
  background-size: 100%;
  min-height: 500px;
}

.intro h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Mountains of Christmas';
  color: #ffffff;
  letter-spacing: 5px;
  padding-top: 80px;
}

.intro .fancy-font {
  font-family: 'Princess Sofia';
  display: block;
}

/* Featured */
#featured {
  min-height: 400px;

}

#featured h1, #showcase h2 {
  text-align: center;
  font-family: 'Mountains of Christmas';
  font-size: 50px;
  color: #ffffff;

}
/* FOOD */

.food {
  width: 22%;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: #cfcfcfec;
  margin: 3px;
  display: inline-block;
}

.food:hover{
  border: 2px solid #357ae0;
}

.food img {
  width: 100%;
  height: 250px;
}

.food .order-price {
  font-weight: bold;
  letter-spacing: 2px;
}

.order{
  margin: 0 35%;
}

.order button {
  padding: 5px 15px;
}
.order button:hover{
  padding: 6px 16px;
  color: #357ae0;
}

.order-desc {
  color: grey;
}
/* SHOWCASE */

#showcase #search {
  display: inline-block;
    
}

#showcase .search-form {
  margin: 10px auto;
  width: 80%;
  padding: 0 30%;
}

#showcase #search-box{
width: 40%;
padding: 10px;
background: lightgray;
border: 1px solid #357ae0;
}

#showcase #search{
  padding: 10px;
  width: 15%;
  background: #357ae0;
  color: white;
  border: 1px solid #357ae0;
}

/* SECTION */

section {
  min-height: 300px;
  background: linear-gradient(rgba(70, 67, 245, 0.4), rgba(70, 67, 245, 0.4)), url('../images/food3.png') no-repeat center fixed;
  background-size: 100%;
}

/* SIGNIN / SIGNUP */
#signin form, #signup form{
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
}

#signin form h1, #signup form h1{
  text-align: center;
  font-weight: bolder;
}

form a{
  color: #a9c8f7;
  text-decoration: none;
  padding-left: 10px;
}

form p{
  display: inline;
  margin-left: 25px;
}

form select{
  display: inline-block;
  width: 100px;
  margin: 0 20px;
  padding: 2px;
  border: 1px solid #357ae0;
}
#form-container{
  width: 30%;
  margin: 10% auto;
  background: rgba(13, 54, 236, 0.459);
  padding: 5px; 
  border-radius: 15px;
}
::placeholder{
  color: white;
  opacity: 1;
}

form .form-data{
  padding: 10px ;
  width: 90%;
  margin: 15px auto;
  border: none;
  display: block;
  background: transparent;
  border-radius: 5px;
}

form .form-data:hover{
border: 1px solid white;
}

form .form-submit{
  display: block;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #357ae0;
}

#services{
  color: #fff;
}

#services h1 {
  margin: 50px;
  text-align: center;
}

/* QUICKTALK */
#quick-talk {
  height: 150px;
  background: linear-gradient(rgba(70, 67, 245, 0.4), rgba(70, 67, 245, 0.4)), url('../images/fried\ rice.jpg') no-repeat center;
  color: #fff;
  font-family: 'Mountains of Christmas';
  text-align: center;
  letter-spacing: 2px;
}

#quick-talk p{
  font-size: 20px;
}

/* ORDERS HISTORY */

.orders-list h2 {
  width: 40%;
  margin: 10px auto;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #357ae0;
}

table{
  margin: auto;
}

 table th{
   width: 150px;
   margin-right: 5px;
   padding: 3px 10px;
   text-align: center;
   font-weight: bolder;
   font-size: 16px;
   background: #357ae0;
 }
 table th .order-desp{
   width: 100%;
 }

 table td {
  text-align: center;
 }

 .recommended {
   margin: 30px 0;
 }

 /* CART */

 .cart-item img{
  width: 100px;
  height: 70px;
  display: inline-block;
 }
 .clearfix{
   clear: both;
 }

 .cart-item p{
   display: inline;
 }
 .cart-list h2{
   width: 80%;
   margin: 10px auto;
   text-align: center;

 }

.total-price h1{
  display: inline;
}

.checkout-div ul{
  float: right;
}

.checkout-div{
  width: 85%;
  margin: 0 auto;
}

.checkout-div li {
  display: inline-block;
}

.checkout-div .checkout-cart {
  padding: 8px 16px;
  background: #357ae0;
  text-transform: uppercase;
  width: 240px;
  color: #fff;
  font-weight: bold;
}

.checkout-div .more-food {
  padding: 8px 16px;
  background: #fff;
  text-transform: uppercase;
  width: 240px;
  border: 2px solid #357ae0;
  color: #357ae0;
  font-weight: bold;
}

.cart-item .delete-icon{
  width: 30px;
  height: 20px;
}

/* FOOTER */

footer{
  min-height: 50px;
  background: #357ae0;
}

footer p {
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 200px) and (max-width:400px)  {
  header nav{
    float: none;
    display: flex;
    flex-flow: column wrap;
    margin-top: 120px;
    padding: 10px;
    line-height: 30px;
  }
  header .brand {
    float: left;
    width: 100%;
    text-align: center;
}
header li, .hamburg{
  display: block;
}

.toggler{
  display: none;
}
.hamburg:hover + .toggler{
  display: block;
}
.container{
  width: 100%;
}
.intro{
  min-height: 200px;
}
.intro h1{
  font-size: 18px;
  margin: 0;
}
#featured {
  width: 100%;
}
#featured h1{
  font-size: 26px;
  margin: 10px;
}
.food{
  width: 90%;
  margin: 5px;
}
#form-container{
  width: 98%;
  background: transparent;
  margin: 0 auto;
}
form .form-data{
  width: 90%;
  margin: 0 auto;
}
form .form-submit{
  width: 92%;
}
form .label{
  color: #ffffff;
}
form select{
  width: 50px;
}
#quick-talk {
  min-height: 200px;
}
.orders-list h2{
  width: 90%;
  margin: 30px auto;
}
.o_date, .o_tprice, .c_item{
  display: none;
}

}

@media (min-width: 400px) and (max-width:700px)  {
  .container{
    width: 100%;
  }
  header .brand {
    float: left;
    width: 20%;
    text-align: center;
}
  header nav{
    float: none;
    display: flex;
    flex-flow: column wrap;
    margin-top: 120px;
    padding: 10px;
    line-height: 30px;
  }
  header li, .hamburg{
    display: block;
  }
  
  .toggler{
    display: none;
  }
  .hamburg:hover + .toggler{
    display: block;
  }
  .intro{
    min-height: 200px;
  }
  .intro h1{
    font-size: 25px;
    margin: 0;
  }
  #featured {
    width: 100%;
  }
  #featured h1{
    font-size: 40px;
    margin: 10px;
  }
  .food{
    width: 42%;
    margin: 5px;
  }
  #form-container{
    width: 80%;
    margin: 10% auto;
  }
  form select{
    width: 50px;
  }
  .orders-list h2{
    width: 90%;
    margin: 30px auto;
  }
  .checkout-div .checkout-cart {
    width: 120px;
  }
  .checkout-div .more-food {
    width: 120px;
  }
}
@media (min-width: 700px) and (max-width:1000px)  {
  .container{
    width: 90%;
    margin: 0 auto;
  }
  header li, .hamburg{
    display: block;
  }
  header nav{
    float: none;
    display: flex;
    flex-flow: column wrap;
    margin-top: 120px;
    padding: 10px;
    line-height: 30px;
  }
  header .brand {
    float: left;
    width: 30%;
    text-align: center;
}
  .toggler{
    display: none;
  }
  .hamburg:hover + .toggler{
    display: block;
  }
  .intro{
    min-height: 300px;
  }
  .intro h1{
    font-size: 35px;
    margin: 0;
  }
  #featured {
    width: 100%;
  }
  #featured h1{
    font-size: 45px;
    margin: 15px;
  }
  .food{
    width: 29%;
    margin: 5px;
  }
  #form-container{
    width: 80%;
    margin: 10% auto;
  }
  form select{
    width: 50px;
  }
  .orders-list h2{
    width: 80%;
    margin: 30px auto;
  }
}
